/* General styles */
* {
  box-sizing: border-box;
  background-color: #419c9e;
  
}

body {
	margin: 20px auto;
	max-width: 900px;
	box-shadow: 0 0 100px 0 #808080;
	background-color: white;
	height: 1300px;
}
h1 {
	position: absolute;
	margin-left: 26%;
	margin-top: 5%;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	color: #333;
	letter-spacing: 2px;
	background-color: white;
}
header p{
	background-color: white;
	position: absolute;
	margin-left: 28%;
	margin-top: 10%;
	font-size: 18px;
	font-family: Georgia;
}
/* for image */
.profile{
	height: auto;
	width: 250px;
	padding: 10px;
	margin: 30px 0 0 20px;
	background-color: transparent;
	border-radius: 30px;
}
.profile:hover{
	transform: scale(1.33);
}
.bg-color{
	background-color: #b2feff;
	margin-right: 600px;
	height: 1300px;
}
.line{
	position: absolute;
	margin-top: 16%;
	margin-left: 25%;
	background-color: white;
	text-shadow: #173459 5px 0 10px;
} 
main{
	margin: 10px;
	background-color: transparent;
}
.info{
	background-color: transparent;
}
/* for the he tags */
.info h2{
	font-family: papyrus;
	letter-spacing: 2px;
	background-color: transparent;
	margin-bottom: 5px;
	text-indent: 20px;
}
.info a{
	background-color: transparent;
	text-decoration: none;
	color: #000000;
	line-height: 2.5;
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: ;
}
.info a:hover{
	color: red;
}

.info i{
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 20px;
	color: #444141;
}
.info h4{
	background-color: transparent;
	font-weight: 300;
}
/* for main content */
article{
	background-color: transparent;
	position: absolute;
	margin-top: -83%;
	margin-left: 34%;
}
.frst{
	background-color: white;
}
.frst ul{
	list-style-type: none;
	background-color: white;
}
.frst ul li{
	list-style: none;
	background-color: white;
}
.title {
	background-color: white;
	font-size: 25px;
	font-family: papyrus;
	font-weight: 600;
	letter-spacing: 5px;
}
table{
	background-color: white;
	border: none;
	position: absolute;
}

table td{
	border: none;
	background-color: white;
	width: 50%;
	height: 60px;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	color: #333;
	text-align: center;
}
/* second article */
.scnd{
	background-color: white;
	position: absolute;
	margin-top: 35%;
	
}

.title-two{
	background-color: white;
	font-size: 25px;
	font-family: papyrus;
	font-weight: 600;
	letter-spacing: 5px;
	margin-left: 30%;
}

.tble2{
	border: none;
	background-color: none;
	width: 220%;
	height: 60px;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	color: #333;
	text-align: center;
	margin-left: -30%;
}
.thrd{
	background-color: white;
	position: absolute;
	margin-top: 125%;
	
}

.title-three{
	background-color: white;
	font-size: 25px;
	font-family: papyrus;
	font-weight: 600;
	letter-spacing: 5px;
	margin-left: 15%;
}

.tble3{
	border: none;
	background-color: none;
	width: 180%;
	height: 60px;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	color: #333;
	text-align: center;
	margin-left: -35%;
}
footer {
	position: absolute;
}
footer p{
	margin-top: -15%;
	margin-left: 5px;
	background-color: transparent;
}